#contact {
    background-color: rgb(26, 72, 151);
    display: grid;
    grid-template: auto 100px / 700px;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

#contact form {
    padding: 20px;
    color: white;
    display: grid;
    gap: 15px;
    grid-template: auto / auto;
    align-items: center;
    box-sizing: border-box;
}

#contact form input,
#contact form textarea {
    padding: 20px 10px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

#contact .social-networks {
    justify-self: center;
    padding: 10px 0;
}

#contact .social-networks a {
    color: white;
}

#contact form input[type="submit"] {
    background-color: #67ca50;
    font-weight: bold;
    font-size: 28px;
}