.projects-tile {
    grid-area: projects;
}


#projects {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "main-photo main-photo main-photo photo-2 photo-2 photo-2 photo-3 photo-3 photo-4 photo-4"
        "main-photo main-photo main-photo photo-2 photo-2 photo-2 photo-3 photo-3 photo-4 photo-4"
        "main-photo main-photo main-photo photo-2 photo-2 photo-2 photo-5 photo-17 photo-4 photo-4"
        "main-photo main-photo main-photo photo-7 photo-7 photo-6 photo-6 photo-6 photo-9 photo-9"
        "main-photo main-photo main-photo photo-7 photo-7 photo-6 photo-6 photo-6 photo-9 photo-9"
        "main-photo main-photo main-photo photo-7 photo-7 photo-8 photo-8 photo-8 photo-8 photo-8"
        "main-photo main-photo main-photo photo-10 photo-10 photo-8 photo-8 photo-8 photo-8 photo-8"
        "main-photo main-photo main-photo photo-10 photo-10 photo-11 photo-11 photo-11 photo-12 photo-12"
        "main-photo main-photo main-photo photo-13 photo-14 photo-11 photo-11 photo-11 photo-12 photo-12"
        "main-photo main-photo main-photo photo-15 photo-16 photo-11 photo-11 photo-11 photo-12 photo-12";
}

#projects .tile {
    background-color: #ccc;
    border-radius: 5px;

    background-size: cover;
    background-position: center center;
}

#projects .tile a {
    display: grid;
    height: 100%;
}

#projects .tile:hover:not(.main-photo) {
    opacity: 0.5;
    transition: all 0.1s ease-in;
}

.main-photo {
    grid-area: main-photo;
    padding: 20px;
    color: white;
    font-size: 20px;
    background-image: url(../images/work-17.png);
}

.main-photo h2, 
.main-photo div {
    background-color: black;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
}

.photo-2 {
    grid-area: photo-2;

    background-image: url(../images/work-01.png);
}

.photo-3 {
    grid-area: photo-3;

    background-image: url(../images/work-02.png);
}

.photo-4 {
    grid-area: photo-4;

    background-image: url(../images/work-03.png);
}

.photo-5 {
    grid-area: photo-5;

    background-image: url(../images/work-04.png);
}

.photo-17 {
    grid-area: photo-17;

    background-image: url(../images/work-05.png);
}

.photo-7 {
    grid-area: photo-7;

    background-image: url(../images/work-06.png);
}

.photo-6 {
    grid-area: photo-6;

    background-image: url(../images/work-07.png);
}

.photo-9 {
    grid-area: photo-9;

    background-image: url(../images/work-08.png);
}

.photo-8 {
    grid-area: photo-8;

    background-image: url(../images/work-10.png);
}

.photo-10 {
    grid-area: photo-10;

    background-image: url(../images/work-09.png);
}

.photo-13 {
    grid-area: photo-13;

    background-image: url(../images/work-13.png);
}

.photo-14 {
    grid-area: photo-14;

    background-image: url(../images/work-14.png);
}

.photo-16 {
    grid-area: photo-16;

    background-image: url(../images/work-16.png);
}

.photo-11 {
    grid-area: photo-11;

    background-image: url(../images/work-11.png);
}

.photo-12 {
    grid-area: photo-12;

    background-image: url(../images/work-12.png);
}

.photo-15 {
    grid-area: photo-15;

    background-image: url(../images/work-15.png);
}